{% extends "base.html" %}
{% load static %}

{% block title %} Cart | {% endblock  %}

{% block content %}
<h1 class="titleCart">Cart</h1>

{% if cart %}
    <div class="box mb-6">
        <div class="table">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </thead>

                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td>
                            <figure class="image is-64x64">
                                <img src="{{ item.product.get_thumbnail }}" alt="">
                            </figure>
                        </td>
                        <td>
                            <a href="{% url 'product' item.product.category.slug item.product.slug %}">{{ item.product.title }}</a>
                        </td>
                        <td>
                            {{ item.quantity }}

                            <a href="?change_quantity={{ item.id }}&quantity=-1">-</a>
                            <a href="?change_quantity={{ item.id }}&quantity=1">+</a>
                        </td>
                        <td>${{ item.total_price }}</td>
                        <td> <a href="?remove_from_cart={{ item.id }}" class="delete">Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td><strong>Total Cost</strong></td>
                            <td><strong>{{ cart | length }}</strong></td>
                            <td><strong>${{ cart.get_total_cost }}</strong></td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    </div>

   



    <h2 class="cartinfo">Contact Information</h2>
    <form method="post" action="" id="payment-form">
        {% csrf_token %}

        <div class="columns">
            <div class="column is-6">
                <div class="field">
                    <label for="">First name</label>
                    <div class="control">
                        <input class="input" type="text" name="first_name">
                    </div>
                </div>

                <div class="field">
                    <label for="">Last name</label>
                    
                    <div class="control">
                        <input class="input" type="text" name="last_name">
                    </div>
                </div>

                <div class="field">
                    <label for="">E-mail</label>

                    <div class="control">
                        <input class="input" type="email" name="email">
                    </div>
                </div>

                <div class="field">
                    <label for="">Phone</label>

                    <div class="control">
                        <input class="input" type="text" name="phone">
                    </div>
                </div>

            

            <div class="column is-6">
                <div class="field">
                    <label for="">Address</label>

                    <div class="control">
                        <input class="input" type="text" name="address">
                    </div>
                </div>

                <div class="field">
                    <label for="">Zip code</label>

                    <div class="control">
                        <input class="input" type="text" name="zipcode">
                    </div>
                </div>

                <div class="field">
                    <label for="">Place</label>

                    <div class="control">
                        <input class="input" type="text" name="place">
                    </div>
                </div>

            </div>

        </div>

        <h2 class="subtitle">Payment information</h2>
        <div class="field">
            <div class="control">
                <button class="button is-dark mt-4 is-uppercase">Checkout</button>
            </div>
        </div>
    </div>
    {% else %}
    <p>You don't have any products in your cart!</p>
    {% endif %}
    
    </form>

{% endblock %} 