asgiref==3.5.0
backports.zoneinfo==0.2.1
boto3==1.23.10
botocore==1.26.10
breezy==3.0.2
certifi==2019.11.28
chardet==3.0.4
configobj==5.0.6
dbus-python==1.2.16
dj-database-url==0.5.0
Django==4.0.2
django-storages==1.12.3
dulwich==0.19.15
fastimport==0.9.8
gunicorn==20.1.0
idna==2.8
jmespath==1.0.0
Pillow==9.0.1
psycopg2-binary==2.9.3
PyGObject==3.36.0
python-dateutil==2.8.2
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
s3transfer==0.5.2
six==1.14.0
sqlparse==0.4.2
stripe==2.66.0
urllib3==1.25.8