
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";


body {
    margin: 0;
    padding:0;
    background: rgb(250, 214, 159);
}
/* Navbar Styling */


/*

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(107, 0, 84);
    color:white;
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
   text-decoration: none;
   color:white;
   padding:1rem;
   display:block; 
}
.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top:.75rem;
    right: 1 rem;
    display: none;
    flex-direction:column;
    justify-content:space-between;
    width :30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}



.container-cardtext{
    padding-top: 14%;
    text-align: center;
    align-items: center;
}
.CardView {
    align-items: center;
}



/* Login section and Registration */
.registrationForm {
    height: 45vh;
    padding: 220px;
    margin: auto;
    align-items: center;
    }


.login {
    padding-top: 100px;
    text-align: center;
    align-items: center;
}

.loginForm {
    width: 90%;
    height: 45vh;
    padding: 50px;
    margin: auto;
    
    border-radius: 20px;
    align-items: center;
    
    box-sizing: border-box;
}

.loginForm:hover{
    -webkit-box-shadow: 6px 5px 10px -2px rgba(34, 34, 34, 0.69); 
    box-shadow: 6px 5px 10px -2px rgba(39, 39, 39, 0.69);
}

.loginForm{
    transition: 0.15s;
}
/* Login section Ended */


.rounded {
    width: 100%;
    height: fit-content;
}
/* Home page cascading ends */

/* admin page cascading ends */
.vendoradmin {
    padding-top: 220px;
    padding-left: 15%;
    width:80%;
    text-align: center;
    align-items: center;
      
}

.boxproduct{
    padding-top: 60px;
}
/* admin page cascading ends */
/* index page cascading ends */

.container-cardtext{
    padding-top: 13%;
}

.NewestProduct{
    text-align: center;
}
.card  {
    width: 60%;
    margin:100px;
}

.add-product{
    padding-top: 200px;
    text-align: center;
    }

.addproduct{
    padding-top: 2%;
    text-align: center;
}

.Button-control{
     align-items: center;
}



/* Navbar ends */

@media (max-width: 650px){
    .toggle-button {
       display: flex;
        
    }
    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

}

@media (max-width: 650px){
    .brand-title{
        text-align:none;
    }
}

@media (max-width: 750px){
    .loginForm {
        width: 100%;
        height: none;
        padding: none;
        margin: none;
        background-color: #fff;
        
        align-items: center;
        
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    
}
