@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";


body {
    margin: 0;
    padding: 0;
    
    background: rgb(241, 241, 241);
}

.container-fluid{
    width:100%;
}


/* Login section and Registration */
.registrationForm {
    padding: 40px;
    margin: auto;
    align-items: center;
}
.title{
    margin-top:160px;
    width:90%;
    margin-left: 40px;
    text-align: center;
}
.login {
    padding-top: 180px;
    text-align: center;
    align-items: center;
    margin-top:30px;
    
}

.images {
    width: 100%;
}

.loginForm {
    width: 70%;
    height: 45vh;
    padding: 20px;
    margin: auto;
    align-items: center;  
    background: url('media/loginBackground.jpg') no-repeat;
    background-size: cover;
}

.subtitle{
    text-align: center;
}
.vendoredit{
    margin-top: 20%;
    width: 90%;
    margin-left: 40px;
    text-align: center;
}


/* Login section Ended */


.rounded {
    width: 100%;
    height: fit-content;
}

/* Home page cascading ends */

/* admin page cascading ends */
.vendoradmin {
    width: 80%;
    margin:100px;
    }

.boxAdmin{
    margin-top:180px;
}
.boxproduct {
    padding-top: 60px;

}
/* admin page cascading ends */
/* index page cascading ends */

.container-cardtext {
    padding-top: 13%;
    width: 100%
}

.NewestProduct {
    text-align: center;
}

/* trying to get the card wworking */
.container {
    width: 90%;
    height: auto;
    margin:auto;
    display: flex;
}
.container-product{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding:20px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    float: left;

    }

.card {
    width: 200px;
    height: 340px;
    margin-left:20px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: 0.3s;
    text-align: center;
}






.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-right: 20px;
}

.content{
    width:180px;
    height: 100%;
   
    box-sizing:border-box;
    float:left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    
    box-shadow: 0 14px 28px rgb(0,0,0,0.25),
    0 10px 10px rgb(0,0,0,.22);
    transition: .4s;
    background: white;
}
.content:hover{
    box-shadow: 0 3px 6px rgb(0,0,0,0.16),
    0 3px 6px rgb(0,0,0,0.23);
    transform: translate(0px, -8px);
}




.overflow-hidden {
    width: 150px;
}
img {
    margin-top: 10%;
    width: 100%;
    }

.add-product {
    padding-top: 10px;
    text-align: center;
}

.addproduct {
    padding-top: 2%;
    text-align: center;
}

.Button-control {
    align-items: center;
}

.add-product {
    margin-top: 15%;
}

.vendorlist {
    width: 70%;
    padding-top: 170px;
    text-align: center;
    margin-left: 15%;
}
.box{
    width: 90%;
    margin-left: 40%;
}
  
.titlecart {
    margin-top: 179px;
    text-align: center;

}
.cartinfo1{
   margin-top:0px;
   text-align: center;
}

.emptycart{
    margin-top:440px;
    margin-left:100px;
}

.cartinfo {
    text-align: center;
}

#payment-form {
    text-align: center;
    margin-bottom: 30px;
}

.rowCart {
    margin-top: 15%;
    text-align: center;
    margin-bottom: 30px;
}



/* INDEX-MEDIA PAGE SETTING */
@media (max-width: 1074px){

    .container-fluid{
        width:100%;
        }
    
}

@media (max-width: 911px) {
    .container {
        width: 100%;
        margin-left: 4%;
    }

    .container-cardtext {
        width: auto;
    }

    .linehr {
        display: none;
    }
    .registrationForm {
        width:90%;
       margin-top: 3px;
       margin-left: 43px;
        align-items: center;
    }
    .title{

    }
}

@media (max-width: 800px) {
    .container {
        width: auto;
        margin-left: 0%;
    }

    .container-cardtext {
        width: 100%;
        text-align: center;
    }

    .NewestProduct {
        margin-top: 5%;
        text-align: center;
    }

    img {
        margin-top: 20%;
        
    }

}
@media (max-width: 401px){
    img {
        margin-top: 40%;
        
    }
}



/* Navbar ends */

@media (max-width: 650px) {
    .toggle-button {
        display: flex;

    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {

        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

}

@media (max-width: 360px){
    .NewestProduct {
        margin-top: 70px;
        text-align: center;
    }
   
}




@keyframes show-toast {
    0% {
        bottom: -100%;
    }

    20% {
        bottom: 50%;
    }

    80% {
        bottom: 50%;
    }

    100% {
        bottom: -100%;
    }
}

.notification.is-toast {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 4s;
}


@media (max-width: 650px) {
    .brand-title {
  
    }
    
}
@media (max-width: 750px) {
    .loginForm {
        width: 100%;
        margin-top: 5px;
        align-items: center;
    }
}