{% extends "base.html" %}
{% load static %}

{% block title %} About Us {% endblock  %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="rol">
        <div class="content-section">
            <div class="about_us">
                <h1>About Us</h1>
            </div>
            <div class="aboutcontent">
                <h3> Welcome To Rhodonite Store! </h3>
                <h6>Your number one source for all things [product, ie: shoes, bags, clothes, electronic devices etc].</h6>
                <p>
                   We're dedicated to giving you the very best of products from verious vendor registered with us, with a focus on dependability, customer service and uniqueness.
                   This is a project writen by Ochuko Erewive to complete the Full-stack course (MS4)
                   Rhodonitestore has come a long way from its beginnings in a [starting location, ie: home office, toolshed, Houston, TX.]. When we first started out, our passion is to ensure easy access to having all that you need to get or buy at your finger tip. We went a long way in asking the need of the people around our cashment area so we could best represent the site based on the need and demand of the people.
                   
                   Our Site crosses to every levels or age providing their basic needs and also, we made it free that all can buy and also sell what they think is of know use to them anymore with a click of a button. 
                   
                   We hope you enjoy our product as again, it all learning based.
                   <h6>
                   Sincerely,<br>
                   Ochuko Erewive
                   CEO
                </h6>
                </p>
               
          <!--      <div class="button">
                    <a href=""  class="btn btn-primary m-1">Read More</a>
                </div>
            -->
            </div>
            <div class="social_links">
                <h6>For more informations, kindly visit our social media</h6>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                   <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    <br><br>
                    
                        <img src="media/loginBackground.jpg" alt="">
                   
            </div>
        </div>
      <!--  <div class="image-section">
            <img src="media/loginBackground.jpg" alt="">
        </div>
        -->
    </div>
    </div>
</div>

{% endblock %}