{% extends "base.html" %}
{% load static %}

{% block title %} Welcome | {% endblock  %}DjangoProject

{% block content %}
<div>
    <div class="container-card">
        <h2 class="NewestProduct">Newest Products</h2>

    </div>
    {% for product in newest_products %}
    <div class="card" style="width: 18rem;">
        <img src="{{ product.get_thumbnail }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <h6 class="price-tag">{{ product.price }}</h6>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div>
</div>


<div class="container columns is-multiline mb-6">
    <div class="column is-12 has-text-centered mt-6 mb-6">
        <h2 class="is-size-3">Newest Products</h2>

    </div>
    
    <div class="containerTop">
        <div class="ro">
            <fiqure class="image is-4by3 mb-4">
                <img src="{{ product.get_thumbnail }}" alt="">
            </fiqure>
            <h2 class="subtitle">{{ product.title }}</h2>
            <h3 class="price is-size-6 mb-5">{{ product.price }}</h3>
            <hr>

            <a href="" class="button is-dark is-uppercase">View</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}