 {% extends "base.html" %}
{% load static %}

{% block title %} Welcome | {% endblock  %}DjangoProject

{% block content %}



<div class="container-card">
    <div class="container-cardtext">
        <h2 class="NewestProduct">NEWEST PRODUCTS
            <hr>
        </h2>
    </div>
</div>


<div class="container-product">

    {% for product in newest_products %}

    <!--Container for Newest Products -->
    {% include 'product/parts/list_item.html' %}
    <!--Container for Newest Products ends -->
    {% endfor %}
</div>


<br/></br/>
{{ newest_products }} <br/>
Has Previous: {{ newest_products.has_previous }} <br/>
Has Next: {{ newest_products.has_Next }} <br/>
Current Page: {{ newest_products.number }} <br/>
Number of Pages: {{ newest_products.paginator.num_pages }}<br/>

<hr><br/><br/>

{% if newest_products.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{ newest_products.previous_page_number }}">Previous</a>
{% endif %}

page {{ newest_products.number }} of {{ newest_products.paginator.num_pages }}

{% if newest_products.has_next %}
    <a href="?page={{ newest_products.next_page_number }}">Next</a>
    <a href="?page={{ newest_products.paginator.num_pages }}">Last &raquo</a>

    {% endif %}

{% endblock %}

