

<div class="content">
    <img class="imgview" src="{{ product.get_thumbnail }}" alt="">
    <div class="viewpage">
        <p class="card-description">{{ product.description }}</p>
        <div>
            <h6 class="card-title">{{ product.title }}</h5>
                <h6 class="price-tag">${{ product.price }}</h6>
        </div>


        <div class="buttonitem">
            {% if request.user.is_authenticated %}
        
            <a href="{% url 'product' product.category.slug product.slug %}" class="btn btn-primary">View</a>
            


            {% else %}

            <a href="{% url 'login' %}" class="btn btn-danger">View</a>
            {% endif %}
        </div>

    </div>
</div>